<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Log In</legend>
                {{ form.as_p }}
            </fieldset>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
        <div>
            <small>Need an Account? <a href="{% url 'register' %}">Sign Up Now</a></small>
            <br><small>Admin <a href="{% url 'admin:index' %}">Login</a></small>
        </div>
    </div>
</body>
</html>