<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TEST VIDEO FEED</title>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <h1>TEST VIDEO FEED</h1>

    <img src="{{ url_for('video_feed') }}" width="853" height="480">

    <form id="press_button" action="/press_button" method="post">
        <button type="submit">Press button</button>
    </form>

    <script>
        document.getElementById('press_button').addEventListener('submit', function (event) {
            event.preventDefault();
            fetch('/press_button', {method: 'POST'})
                .then(response => response.json())
                .then(data => console.log(data));
        });
    </script>


</body>

</html>
