<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.item_name.label_tag }}
            {{ form.item_name }}
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>