{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Live Webcam Feed</title>
    <link rel="stylesheet" href="{% static 'webcamstyles/lab_styles.css' %}">
</head>
<body>
    <div class = "dual-cam-feed-container">
        <div class = "webcam-feed">
            <h1>Webcam 1 Feed</h1>

            <img src="{% url 'webcam1' %}" alt="Webcam1 Feed" width="640" height="480">
        </div>

        <div class = "webcam-feed">
            <h1>Webcam 2 Feed</h1>

            <img src="{% url 'webcam2' %}" alt="Webcam2 Feed" width="640" height="480">
        </div>

    </div>

<!-- To change lens rotation and the camera feed -->
    <div class = "form">
        <form method="POST">
            {% csrf_token %}
                    {{ form }}
        <input type="submit" value="submit">
        </form>
    </div>

    <div>
        <p>
            <h2>End the lab:</h2>
            <a href="{% url 'appointments' %}">Exit</a>
        </p>
    </div>
    

</body>
</html>
